{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: black;
            display: grid;
            margin-top: 10%;
            place-content: center;
        }
        body img{
            place-items: center;
        }
    </style>
</head>
<body>
    <img src="{% static 'logo/omar.png' %}" alt="verify">
    <h1 style="color: white;">{{message}}</h1>
</body>
</html>